body {
    background: #ddd;
    font-family: monospace;
    font-size: 20px;
    padding-left: 20px;
    -webkit-text-size-adjust: none;
}

h1 {
    border-bottom: 2px solid #000;
}

a:hover {
    background-color: #eee !important;
}

a, a:link, a:visited, a:focus, a:active {
    font-size: 18px;			   
    color: red; 
    background-color: #ddd;
    text-decoration: none;
    border: 1px solid #555;
    padding: 5px;
}