<html>
  <head>
    <title>my raspi</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <body>

      <table>
	<tr>
	  <td style="width: 150px; border: 1px solid black; padding: 5px; padding-left: 10px;">
	    <h1>my raspi</h1>
	    </br>
	    <br/>
	    <a href="/on">.led.on</a>
	    <br/><br/><br/>
	    <a href="/off">.led.off</a>
	    <br/><br/><br/>
	    <a href="/blinkOn">.blink.on</a>
	    <br/><br/><br/>
	    <a href="/blinkOff">.blink.off</a>
	    <br/><br/><br/>
	    <a href="/temp">.temperature</a>
	    <br/><br/><br/>
	    <a href="/light">.lighting</a>
	    <br/><br/><br/>
	    <a href="/cam">.camera</a>
	    <br/><br/><br/>	    
	    <a href="/services">.services</a>
	    <br/><br/><br/>	    
	  </td>
	  <td style="width: 800px; height: 550px; border: 1px solid black; padding: 10px;">
	    {{ p }}
	  </td>
	</tr>
      </table>
      
    </body>
</html>
