<html>
    <head>
	<title>my raspi</title>
	<link rel="stylesheet" href="/static/style.css?{{time}}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    </head>		 
    <body>
	<table>
	    <tr>
		<td class="content">
		    <p class="header">my raspi</p>
		    <table class="cubes">
			<tr class="cube-row"> <td>
				<a href="/temp">{{ c }} c</a>
				<a href="/light">{{ lm }} lm</a>
			</td></tr><tr class="cube-row"><td>
				<a href="/services">services:{{ ser }}</a>
			</td></tr><tr class="cube-row"><td>
				<a href="/on">.led.on</a>
				<a href="/off">.led.off</a>
			</td></tr><tr class="cube-row"><td>
				<a href="/blinkOn">.blink.on</a>
				<a href="/blinkOff">.blink.off</a>
			</td></tr><tr class="cube-row"><td>				
				<a href="/cam">.camera</a>
			</td></tr>
		    </table>
		</td>
	    </tr>
	</table>
    </body>
</html>
